@{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="registration-section-wrapper justify-content-center justify-content-sm-start row">
            <div class="registration-section col-8 col-sm-8 col-md-6 p-5 shadow">
                <p class="details">Please enter your details</p>
                <h2 class="registration-header mb-3">Sign Up To The App</h2>
                <p class="error-message text-danger mb-3"></p>
                <form class="registration-form  mb-5" asp-controller="authentication" asp-action="registerasync" method="post" data-redirect=@Url.Action("Index", "Home")>
                    <p class="form-element mb-3">
                        <label class="form-label" for="firstName">First name</label>
                        <input class="form-control" id="firstName" type="text" name="firstName" required />
                    </p>
                    <p class="form-element mb-3">
                        <label class="form-label" for="lastName">Last name</label>
                        <input class="form-control" id="lastName" type="text" name="lastName" required />
                    </p>
                    <p class="form-element mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required />
                    </p>
                    <p class="form-element mb-5">
                        <label class="form-label" for="password">Password:</label>
                        <input class="form-control" id="password" type="password" name="password" required />
                    </p>
                    <p class="form-element d-flex submit-section">
                        <button class="btn btn-primary flex-grow-1" type="submit">Submit</button>
                    </p>
                </form>
                <p>Already have an account? <a href="/login">Sign in</a></p>
            </div>
            <div class="background-section col-sm-4 col-md-6 d-none d-sm-block"></div>
        </div>
    </div>
}
@section Scripts {
    <script src="/js/authregistration.js"></script>
}
@section css {
    <link rel="stylesheet" href="~/css/registration.media.css" asp-append-version="true" />
}